body {

  background-image: url("https://courses.ics.hawaii.edu/ics314s23/morea/ui-frameworks/wod-boardroom-background.jpg");
  background-position: center;
  background-size: cover;
  --bs-light-rgb: 146, 146, 145;

}

.navbar{
  --bs-navbar-brand-color: white;
  background-color:grey;
}

#center{
  margin-left: 450px;
  margin-top: 150px;
  margin-bottom: 130px;
}

#toplogo{

  font-size: 20px;
}

footer{
  position: absolute;
  width:100%;
}

.top-pad{
  display: inline-block;
}